.emphasized {
   font-size: 1.2em;
   color: red;
}

.reveal blockquote {
  background: #f9f9f9;
  /* border-left: 10px solid #ccc; */
  /* margin: 1.5em 10px; */
  margin-left: 0.25em;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
.reveal blockquote:before {
  font: 14px/20px italic Times, serif;
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.reveal blockquote p {
  display: inline;
}

